body {
  margin: 1.5em;
  background-color: var(--color-bg);
}
h1 {
  font-family: "Playfair";
  color: var(--color-h1);
  font-size: x-large;
  margin-top: 1rem;
}
h2 {
  font-family: "Playfair";
  color: var(--color-h2);
  font-size: medium;
}
p {
  font-family: "workSans";
  color: var(--color-text);
  font-size: small;
  line-height: 1.5em;
}
/* Mobil */
@media (max-width: 800px) {
  h1 {
    font-family: "Playfair";
    color: var(--color-h1);
    font-size: x-large;
    margin-top: 1rem;
  }
  h2 {
    font-family: "Playfair";
    color: var(--color-h2);
    font-size: medium;
  }
  p {
    font-family: "workSans";
    color: var(--color-text);
    font-size: small;
    line-height: 1.5em;
  }
  .header_layout {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-bottom: 2px solid var(--color-border);
    margin: 1em 1em 1em 1em;
    img {
      max-width: 40%;
    }
    .title {
      margin: 0 auto;
      text-align: center;
      font-family: "Playfair";
      font-size: x-large;
      color: var(--color-h1);
    }
  }
  .header_layout nav {
    justify-self: end;
  }
  .header_layout nav a {
    text-decoration: none;
    color: var(--color-h1);
  }
  #hero_section img {
    max-width: 100%;
  }
  #grid1_1 {
    .layered-elements {
      position: relative;
    }
    .layered-elements img {
      width: 100%;
      height: auto;
      display: block;
    }
    .circle-text {
      position: absolute;
      right: 30%;
      bottom: 30%;
      background: rgb(230, 200, 165, 0.9);
      padding: 2.5rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transform: translate(50%, 50%);
    }
  }
  #section_gallery {
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 1em;
      column-gap: 1em;
      background-color: var(--color-section);
      padding: 1em;

      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;
        row-gap: 1em;
      }
    }
  }
  footer {
    margin-top: 1em;
    padding: 0.5em;
    border-top: 2px solid var(--color-border);
  }
}

/* Desktop */
@media (width>800px) {
  h1 {
    font-family: "Playfair";
    color: var(--color-h1);
    font-size: 2.5rem;
    margin-top: 1rem;
    padding-bottom: 0.5em;
  }
  h2 {
    font-family: "Playfair";
    color: var(--color-h2);
    font-size: 1.8rem;
  }
  p {
    font-family: "WorkSans";
    color: var(--color-text);
    font-size: 1rem;
    line-height: 1.5em;
  }
  .header_layout {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-bottom: 2px solid var(--color-border);
    margin: 1em 1em 1em 1em;
    img {
      max-width: 15%;
      padding-bottom: 0.5em;
    }
    .title {
      margin: 0 auto;
      text-align: center;
      font-family: "Playfair";
      font-size: 2.5rem;
      color: var(--color-h1);
    }
  }
  .header_layout nav {
    justify-self: end;
  }
  .header_layout nav a {
    text-decoration: none;
    color: var(--color-h1);
    font-size: 1.2rem;
  }
  #hero_section img {
    width: 100%;
    margin-bottom: 1.5em;
  }
  #grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    div:first-child {
      grid-column: 2/ 3;
      grid-row: 1;
      padding-left: 2em;
      line-height: 1.5em;
    }
    .layered-elements {
      position: relative;
    }
    .layered-elements img {
      width: 100%;
      height: auto;
      display: block;
      grid-column: 1 / 2;
      grid-row: 1;
    }
    .circle-text {
      position: absolute;
      right: 30%;
      bottom: 30%;
      background: rgb(230, 200, 165, 0.9);
      padding: 2.5rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transform: translate(50%, 50%);
    }
  }
  #section_gallery {
    h2 {
      padding: 1em 0 0.2em 0;
    }
    div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 1em;
      column-gap: 1em;
      background-color: var(--color-section);
      padding: 1em;
    }
  }
  .img1 {
    width: 100%;
    grid-column: 1;
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
  }
  .img2 {
    width: 100%;
    grid-column: 2/4;
    grid-row: 1;
  }
  .img3 {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2;
  }

  .img4 {
    width: 100%;
    grid-column: 3/4;
    grid-row: 2;
  }
  footer {
    margin-top: 1em;
    padding: 0.5em;
    border-top: 2px solid var(--color-border);
  }
}
